<div class="row mx-0 justify-content-start">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">最近</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">每週</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">每月</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">範圍查詢</a>
    </li>
  </ul>

  <form class="row justify-content-center m-0" action="/" method="POST" style="width: 100%;">

    <div class="form-label-group mt-5 align-self-center">
      <label for="startDate">起始日期 : </label>
      <input id="startDate" type="date" name="startDate" class="form-control mt-2"
        required autofocus>
    </div>
    <div class="form-label-group mt-3 align-self-center">
      <label for="endDate">結算日期 : </label>
      <input id="endDate" type="date" name="endDate" class="form-control mt-2"
        required>
    </div>
    <br />
    <button class="btn btn-lg btn-primary btn-block col-6 mt-5" type="submit">查詢</button>
  </form>

</div>