<div class="row mx-0 justify-content-start">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">最近</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">每週</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">每月</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">範圍查詢</a>
    </li>
  </ul>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">日期</th>
        <th scope="col">總額</th>
        <th scope="col">類別</th>
        <th scope="col">類別</th>
        <th scope="col">類別</th>
        <th scope="col">類別</th>
        <th scope="col">類別</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2020/12/12
          ~2020/12/12</th>
        <td>qwdqw</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
      </tr>
      <tr>
        <th scope="row">2020/12/12
          ~2020/12/12</th>
        <td>qwdqw</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
      </tr>
      <tr>
        <th scope="row">2020/12/12
          ~2020/12/12</th>
        <td>qwdqw</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
      </tr>
      <tr>
        <th scope="row">2020/12/12
          ~2020/12/12</th>
        <td>qwdqw</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
      </tr>
      <tr>
        <th scope="row">2020/12/12
          ~2020/12/12</th>
        <td>qwdqw</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
        <td>32</td>
      </tr>



    </tbody>
  </table>

</div>