<div class="row mx-0 justify-content-start">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/costQuery">最近</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/costQuery/week">每週</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/costQuery/month">每月</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/costQuery/range">範圍查詢</a>
    </li>
  {{#if share}}
    <li class="nav-item">
      <a class="nav-link " href="/">未入帳</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/">費用確認</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/">被退回</a>
    </li>
  {{/if}}
  </ul>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">日期</th>
        <th scope="col">類別</th>
        <th scope="col">金額</th>
      </tr>
    </thead>
    <tbody>
      {{#each allPayment}}
      <tr>
        <th scope="row">{{moment this.createdAt}}</th>
        <td>{{this.Category.name}}</td>
        <td>{{this.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>