<form class="row mx-0 justify-content-center" action="/signIn" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
  </div>
  <div class="form-label-group mt-3">
    <label for="inputAccount">Account</label>
    <input id="inputAccount" type="text" name="account" class="form-control" placeholder="Account" required autofocus
      value="{{signInInput}}">
  </div>
  <div class="form-label-group mt-3">
    <label for="inputPassword">Password</label>
    <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <br />
  <button class="btn btn-lg btn-primary btn-block col-6 mt-4" type="submit">登入</button>
  <div class="text-end mb-4 ">
    <p><a href="/signup" class="fs-3">註冊</a></p>
  </div>
</form>